*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: Arial, sans-serif;
  background:#f4f7f5;
}

.header-border{
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:2px solid #111;
  padding:12px 20px;
  margin:15px;
  background:blue;
  border-radius:8px;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
}

.kegow-logo{
  width:150px;
  height:auto;
  object-fit:contain;
}

.logo-area h1{
  font-size:20px;
  line-height:18px;
  color:#0a7a33;
  font-weight:800;
}

nav{
  display:flex;
  gap:20px;
  background:#111;
  padding:12px 20px;
  border-radius:4px;
}
nav a{
  color:white;
  text-decoration:none;
  font-size:14px;
}

.main-section{
  display:flex;
  align-items:center;
  gap:30px;
  padding:40px;
  width:90%;
  max-width:1100px;
  margin:0 auto;
}
.text-side{ width:35%; }
.image-side{ width:65%; }
.image-side img{
  width:100%;
  border-radius:8px;
}
.card{
  background:white;
  padding:20px;
  margin:20px auto;
  width:90%;
  max-width:1100px;
  border-radius:8px;
  border:1px solid #e5e7eb;
}
.card h3 {
color:green;
     margin-bottom:10px;
     }
.grid-2{
  display:flex;
  gap:20px;
  width:90%;
  max-width:1100px;
  margin:0 auto;
}
.grid-2 .card
{ flex:1; }
.address{
     text-align:center;
     background:#d4f5dd; }
.footer{
  text-align:center;
  padding:20px;
  background:#111;
  color:white;
  margin-top:30px;
}